





.id{
  color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.design{
  color: #152733;
  width: 200px;

}
html, body {
    height: 100%;
    background-color: white;
    overflow: hidden;
    
}
.container1{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff; 
}
.container1::before{
  position: absolute;
  content: '';
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: linear-gradient(-50deg, #001236, #090c11);
  top: -50%;
  right: 50%;
  transform: translateY(-20%);
  transition: 1.8s ease-in-out;
  

}
.container2{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff; 
}
.container2::before{
  position: absolute;
  content: '';
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: linear-gradient(-50deg, #001236, #090c11);
  top: -60%;
  right: 50%;
  transform: translateY(85%);
  transition: 10s ease-in-out;
  

}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
  margin-left: 500px;
  margin-bottom: 250px;
    
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #152733;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}




.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #152733;
    font-size: 25px;
}

.form-content input[type=text] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #dfe3e6;
    font-size: 20px;
    font-weight: 300;
    color: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn{
  padding: 10px 30px;
  border-radius: 10px;
    background-color: #858d93;
    outline: none;
    border: 0px;
     box-shadow: none;
     font-size: large;
}

.btn:hover, .btn:focus, .btn:active{
    background-color: #8f9091;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}
a{
  color: black;
}

.quizgo{

  border-radius: 10px;

  background-color: #858d93;
  outline: none;
  border: 0px;
   box-shadow: none;
   padding: 10px 30px;
   text-align: center;
   font-size: large;
}

.quizgo:hover, .quizgo:focus, .quizgo:active{
  
  background-color: #8f9091;
  outline: none !important;
  border: none !important;
   box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: black;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: black;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}
.input-set{
border-color: #152733;
}
.add{
  border-color: #152733;
}
.form1{
  border-color: white;
}
